<h1>Editing job</h1>

<%= form_for(@job) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="actions">
    <%= f.submit 'Edit job' %>
  </div>
<% end %>

<%= link_to 'Show', @job %> |
<%= link_to 'Back', jobs_path %>
